	.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 800px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 20px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 1000;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal img{
	margin-top: -50px;
	max-height: 600px;
}
/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

section.competition {
    background-color: #03012C;
    border-top: 1px solid white;
    text-align: center;
}
section.competition h1{
    margin: 0px;
    padding: 40px;
    color: white;
    /*border-bottom: 1px solid white;*/
}

section.competition div{
    margin: 0px;
    background-color: #03012C;
}

div.indivCompetition {
    /*border-right: 1px solid white;*/
}

div.indivCompetition .glyphicon{
    font-size: 35px;
    margin-bottom: 10px;
}
div.indivCompetition img{
    height: 200px;
    margin-bottom: 10px;
}

div.indivCompetition img:hover + p{
    color: white;
    font-weight: 600;    
}

#myModal2 img {
    height: 500px;
    width: 500px;
}

button.close {
    color: black;
}

.skills {
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    text-align: center;
    color: #fff;
    background: #03012C;
    padding: 20px;
}

button.cv {
   background-color: #03012C;
   padding: 10px 40px 10px 40px;
   color: white;
   font-weight: 600;
}
button.cv:focus,
button.cv:active,
button.cv:hover {
   background-color: #cecec5;
   color: #181922;
   font-weight: 600;
}

.contact p{
    background-color: #03012C;
    color: white;
    padding-bottom: 40px;
    font-family: "PT Serif Caption";
    letter-spacing: 0.8px;
}

img:hover {
    cursor: pointer;
}

body {
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}